@font-face {
  font-family: 'Sora-SemiBold';
  src: url(../fonts/./Sora-SemiBold.eot);
  src: url(../fonts/./Sora-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/./Sora-SemiBold.ttf) format("truetype"), url(../fonts/./Sora-SemiBold.otf) format("otf"), url(../fonts/./Sora-SemiBold.woff) format("woff"); }

@font-face {
  font-family: 'DMSans-Regular';
  src: url(../fonts/./DMSans-Regular.eot);
  src: url(../fonts/./DMSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/./DMSans-Regular.otf) format("otf"), url(../fonts/./DMSans-Regular.ttf) format("truetype"), url(../fonts/./DMSans-Regular.woff) format("woff"), url(../fonts/./DMSans-Regular.woff2) format("woff2"); }

@font-face {
  font-family: 'DMSans-Bold';
  src: url(../fonts/./DMSans-Bold.eot);
  src: url(../fonts/./DMSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/./DMSans-Bold.otf) format("otf"), url(../fonts/./DMSans-Bold.ttf) format("truetype"), url(../fonts/./DMSans-Bold.woff) format("woff"), url(../fonts/./DMSans-Bold.woff2) format("woff2"); }

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/./Inter-Regular.eot);
  src: url(../fonts/./Inter-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/./Inter-Regular.ttf) format("truetype"), url(../fonts/./Inter-Regular.woff) format("woff"), url(../fonts/./Inter-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'DMSans-Regular'; }

a {
  text-decoration: none; }

.title {
  font-family: 'Sora-SemiBold';
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.02em;
  color: #1A0807; }

.subtitle {
  font-size: 16px;
  line-height: 28px;
  color: #645C5B; }

.intro {
  background-color: #190807;
  padding-top: 36px;
  padding-bottom: 120px; }
  .intro-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .intro-nav-links {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 42px;
         -moz-column-gap: 42px;
              column-gap: 42px; }
    .intro-nav-links a {
      color: #D1CAC9;
      font-size: 16px; }
    .intro-nav-links a:hover {
      color: #FF5045;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .intro-nav-links a::after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 0px;
      border-bottom: 1px solid #FF5045;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .intro-nav-links a:hover::after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 12px;
      border-bottom: 1px solid #FF5045;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .intro-nav-burger {
      display: none;
      position: relative;
      width: 40px;
      height: 40px; }
    .intro-nav-burger .burger {
      content: '';
      position: absolute;
      width: 15px;
      height: 3px;
      background-color: #FFF9F5;
      left: 0;
      top: 7px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .intro-nav-burger .burger::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #FFF9F5;
      top: -13px;
      left: 0; }
    .intro-nav-burger .burger::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #FFF9F5;
      bottom: -13px;
      left: 0; }
  .intro-img {
    position: relative;
    margin-top: 64px; }
    .intro-img-bcg {
      width: 100%; }
    .intro-img-play {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: #190807;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .intro-img-play img {
      margin-left: 5px; }
    .intro-img-play:hover {
      cursor: pointer;
      background-color: #FF5045;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .intro-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .intro-content-title {
      color: #fff;
      font-size: 72px;
      max-width: 570px;
      line-height: 82px; }
    .intro-content-body {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      row-gap: 38px;
      max-width: 470px; }
      .intro-content-body-subtitle {
        color: #D1CAC9;
        font-size: 18px; }
      .intro-content-body-buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 28px;
           -moz-column-gap: 28px;
                column-gap: 28px;
        color: #fff; }

.logInBtn {
  position: relative;
  font-size: 16px;
  color: #D1CAC9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.logInBtn::after {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  height: 1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 1px solid #FF5045; }

.logInBtn:hover::after {
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height: 1px;
  border-bottom: 1px solid #FF5045;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.logInBtn:hover {
  color: #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.SignUpBtn {
  font-family: 'DMSans-Bold';
  width: 128px;
  height: 50px;
  font-size: 16px;
  color: #190807;
  text-align: center;
  background-color: #fff;
  padding: 11px 35px;
  margin-left: 28px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.SignUpBtn:hover {
  color: #190807;
  background-color: #FF5045;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.GetStartedBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 155px;
  height: 60px;
  background-color: #FF5045;
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.GetStartedBtn:hover {
  color: #1A0807;
  background-color: #FFF9F5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.LearnMoreBtn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DMSans-Bold';
  color: #fff;
  font-size: 16px; }

.LearnMoreBtn:hover {
  color: #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.LearnMoreBtn::after {
  content: '';
  position: absolute;
  display: block;
  width: 87px;
  height: 1px;
  padding-top: 27px;
  border-bottom: 1px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.LearnMoreBtn:hover::after {
  border-bottom: 1px solid #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 0; }

.reason {
  background-color: #FFF9F5;
  padding-top: 200px;
  padding-bottom: 100px; }
  .reason-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 130px;
       -moz-column-gap: 130px;
            column-gap: 130px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .reason-body {
    max-width: 470px; }
    .reason-body-desc {
      margin-top: 18px; }
    .reason-body-statistic {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 55px;
         -moz-column-gap: 55px;
              column-gap: 55px;
      margin-top: 38px; }

.statistic-wrapper span {
  color: #FF5045; }

.statistic-title {
  font-family: 'Sora-SemiBold';
  color: #190807;
  font-size: 32px; }

.features-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px; }

.features-column {
  max-width: 270px;
  background-color: #fff;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 24px; }

.item-row {
  padding: 24px; }

.item-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 44px;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px; }

.item-title {
  font-family: 'DMSans-Bold';
  font-size: 18px;
  margin-top: 20px; }

.item-description {
  font-family: 'Inter-Regular';
  font-size: 14px;
  margin-top: 4px;
  line-height: 26px; }

.proud {
  padding: 100px 0px;
  background-color: #FFF9F5; }
  .proud-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .proud-body {
    max-width: 470px; }
    .proud-body-desc {
      margin-top: 18px; }
    .proud-body-btn {
      margin-top: 38px; }
    .proud-body-btn:hover {
      background-color: #FF5045; }

.explore {
  padding: 100px 0;
  background-color: #FFF9F5; }
  .explore-title {
    text-align: center; }
  .explore-subtitle {
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
    margin-top: 18px; }
  .explore-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    margin-top: 70px; }
    .explore-row-item {
      max-width: 270px;
      background-color: #fff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .explore-row-item:hover {
      -webkit-box-shadow: 0px 20px 60px rgba(25, 8, 7, 0.07);
              box-shadow: 0px 20px 60px rgba(25, 8, 7, 0.07);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.item-body {
  padding: 22px 18px 27px 18px; }

.item-title {
  font-family: 'DMSans-Bold';
  font-size: 16px; }

.item-subtitle {
  font-size: 14px;
  margin-top: 20px; }

.item-link {
  position: relative;
  display: inline-block;
  margin-top: 8px;
  color: #190807;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.item-link:hover {
  color: #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.item-link::after {
  position: absolute;
  content: '';
  width: 65px;
  height: 1px;
  border-bottom: 1px solid #190807;
  left: 0;
  padding-bottom: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.item-link:hover::after {
  border-bottom: 1px solid #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.opinions {
  padding: 100px 0;
  background-color: #FFF9F5; }
  .opinions-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .opinions-wrapper-body-subtitle {
      max-width: 570px;
      margin-top: 18px; }
    .opinions-wrapper-arrows {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 24px;
         -moz-column-gap: 24px;
              column-gap: 24px; }
      .opinions-wrapper-arrows-leftArrow, .opinions-wrapper-arrows-rightArrow {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid #E7DFD9;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .opinions-wrapper-arrows-leftArrow:hover {
        background-color: #FF5045;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .opinions-wrapper-arrows-rightArrow:hover {
        cursor: pointer;
        background-color: #FF5045;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  .opinions-quotes-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px; }
    .opinions-quotes-row-item {
      max-width: 370px;
      background-color: #fff;
      padding: 39px 40px 28px 43px; }
      .opinions-quotes-row-item-body-desc {
        font-size: 14px;
        position: relative; }
      .opinions-quotes-row-item-body-author {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 14px;
           -moz-column-gap: 14px;
                column-gap: 14px;
        margin-top: 12px; }
  .opinions-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    margin-top: 38px; }

.author-name {
  font-family: 'DMSans-Bold';
  font-size: 14px;
  color: #190807;
  line-height: 24px; }

.author-position {
  font-size: 12px;
  color: #A49C9B; }

.quotes-bcg {
  position: absolute;
  top: -15px;
  left: -15px;
  opacity: 50%; }

.invocation {
  padding: 100px 0 200px 0;
  background-color: #FFF9F5; }
  .invocation-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 230px;
       -moz-column-gap: 230px;
            column-gap: 230px; }
    .invocation-wrapper-body {
      max-width: 470px; }
      .invocation-wrapper-body-subtitle {
        margin-top: 18px; }
      .invocation-wrapper-body-btn {
        margin-top: 38px; }
      .invocation-wrapper-body-btn:hover {
        background-color: #FF5045; }

.footer {
  background-color: #190807;
  padding-top: 96px; }
  .footer-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 70px; }
  .footer-bottom {
    background-color: #FF5045; }
    .footer-bottom-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-bottom-wrapper-rights {
        font-size: 14px;
        color: #FFFEFE;
        line-height: 26px;
        padding: 24px 0; }

.footer-column-description {
  color: #D1CAC9;
  max-width: 311px;
  font-size: 14px;
  margin-top: 12px; }

.footer-column-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px; }

.footer-column-links a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #4D3A39;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.footer-column-links a:hover {
  background-color: #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.footer-column-row-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px; }

.column-item-title {
  font-size: 18px;
  color: #fff; }

.column-item-links {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  margin-top: 18px; }

.column-item-links a {
  color: #D1CAC9;
  font-size: 14px;
  line-height: 26px; }

.column-item-links a:hover {
  color: #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.column-item-links a::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 0px;
  border-bottom: 1px solid #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.column-item-links a:hover::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 12px;
  border-bottom: 1px solid #FF5045;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.videomodal {
  position: fixed;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  display: none; }
  .videomodal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer; }
  .videomodal-content {
    position: relative;
    border: 2px solid #fff;
    width: 650px;
    height: 400px; }
    .videomodal-content-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: end;
          -ms-flex-pack: end;
              justify-content: end;
      -webkit-box-shadow: inset 0px 0px 2px 0px #fff;
              box-shadow: inset 0px 0px 2px 0px #fff;
      background-color: gray; }
      .videomodal-content-header-closebtn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .videomodal-content-header-closebtn:hover {
        background-color: #FF5045;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .videomodal-content-body {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 5px;
      background-color: #ccc; }

@media (max-width: 1400px) {
  .intro-content-title {
    font-size: 65px; }
  .reason-wrapper {
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    row-gap: 50px; }
  .reason-body {
    margin: 0 auto; }
  .features-row {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px; }
  .proud-body-title {
    font-size: 46px;
    line-height: 56px; } }

@media (max-width: 1199px) {
  .intro-content-title {
    font-size: 46px;
    line-height: 56px; }
  .features-row {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .proud-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 50px; }
  .proud-body-btn {
    margin: 20px auto 0 auto; }
  .explore-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 150px;
       -moz-column-gap: 150px;
            column-gap: 150px;
    row-gap: 50px; }
  .invocation {
    padding-bottom: 170px; }
    .invocation-wrapper {
      -webkit-flex-wrap: wrap-reverse;
          -ms-flex-wrap: wrap-reverse;
              flex-wrap: wrap-reverse;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      row-gap: 80px; }
      .invocation-wrapper-body-btn {
        margin: 30px auto 0 auto; } }

@media (max-width: 991px) {
  .features-row {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px; }
  .explore-row {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px; }
  .opinions-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .opinions-wrapper-arrows {
      -webkit-column-gap: 10px;
         -moz-column-gap: 10px;
              column-gap: 10px; }
  .opinions-quotes-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 50px; }
  .footer-column-row-wrapper {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px; } }

@media (max-width: 767px) {
  .title {
    text-align: center; }
  .intro-nav-links, .intro-nav-buttons {
    display: none; }
  .intro-nav-burger {
    display: block;
    top: 10px;
    right: 0px; }
  .intro-content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    row-gap: 30px; }
  .intro-img-play {
    width: 60px;
    height: 60px; }
  .opinions-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px; }
    .opinions-wrapper-body {
      margin: 0 auto;
      text-align: center; }
      .opinions-wrapper-body-title {
        font-size: 56px;
        line-height: 66px; }
  .footer-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    row-gap: 30px; } }

@media (max-width: 576px) {
  .proud-body-img {
    display: none; }
  .invocation-wrapper-img {
    display: none; }
  .footer-bottom-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px; }
    .footer-bottom-wrapper-rights {
      padding: 10px 0 5px 0; } }

@media (max-width: 500px) {
  .intro-img-play {
    width: 45px;
    height: 45px; } }

@media (max-width: 360px) {
  .intro {
    padding-bottom: 100px; }
  .reason {
    padding-top: 100px; }
  .proud {
    padding: 70px 0; }
  .explore {
    padding: 70px 0; }
  .opinions {
    padding: 70px 0; } }
