@font-face {
    font-family: 'Sora-SemiBold';
    src: url(../fonts/./Sora-SemiBold.eot);
    src: url(../fonts/./Sora-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/./Sora-SemiBold.ttf) format('truetype'),
         url(../fonts/./Sora-SemiBold.otf) format('otf'),
         url(../fonts/./Sora-SemiBold.woff) format('woff');
  }
@font-face {
    font-family: 'DMSans-Regular';
    src: url(../fonts/./DMSans-Regular.eot);
    src: url(../fonts/./DMSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/./DMSans-Regular.otf) format('otf'),
        url(../fonts/./DMSans-Regular.ttf) format('truetype'),
        url(../fonts/./DMSans-Regular.woff) format('woff'),
        url(../fonts/./DMSans-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'DMSans-Bold';
    src: url(../fonts/./DMSans-Bold.eot);
    src: url(../fonts/./DMSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/./DMSans-Bold.otf) format('otf'),
         url(../fonts/./DMSans-Bold.ttf) format('truetype'),
         url(../fonts/./DMSans-Bold.woff) format('woff'),
         url(../fonts/./DMSans-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/./Inter-Regular.eot);
    src: url(../fonts/./Inter-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/./Inter-Regular.ttf) format('truetype'),
         url(../fonts/./Inter-Regular.woff) format('woff'),
         url(../fonts/./Inter-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }    
$intro-text: #D1CAC9;
$intro-bcg: #190807;
$title-color: #1A0807;
$elsebcg: #FFF9F5;
$subtitle-color: #645C5B;
$links-bcg: #FF5045;

body{
    font-family: 'DMSans-Regular';
    
}
a{
    text-decoration: none;
}
.title{
    font-family: 'Sora-SemiBold';
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.02em;
    color: $title-color;
}
.subtitle{
    font-size: 16px;
    line-height: 28px;
    color: $subtitle-color;
}
.intro{
    background-color: $intro-bcg;
    padding-top: 36px;
    padding-bottom: 120px;
    &-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-links{
            position: relative;
            display: flex;
            column-gap: 42px;
        }
        &-links a{
            color: $intro-text;
            font-size: 16px;
        }
        &-links a:hover{
            color: #FF5045;
            transition: 0.3s;
        }
        &-links a::after{
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            width: 0px;
            border-bottom: 1px solid #FF5045;
            transition: all 0.3s;
        }
        &-links a:hover::after{
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            width: 12px;
            border-bottom: 1px solid #FF5045;
            transition: all 0.3s;
        }
    }
    &-img{
        position: relative;
        margin-top: 64px;
        &-bcg{
            width: 100%;
        }
        &-bcg:hover{
            cursor: pointer;
        }
        &-play{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: $intro-bcg;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
        }
        &-play img{
            margin-left: 5px;
        }
        &-play:hover{
            cursor: pointer;
            background-color: $links-bcg;
            transition: 0.3s;
        }
    }
    &-content{
        display: flex;
        align-items: center;
        margin-top: 70px;
        justify-content: space-between;
        &-title{
            color: #fff;
            font-size: 72px;
            max-width: 570px;
            line-height: 82px;
        }
        &-body{
            display: flex;
            flex-direction: column;
            row-gap: 38px;
            max-width: 470px;
            &-subtitle{
                color: $intro-text;
                font-size: 18px;
            }
            &-buttons{
                display: flex;
                column-gap: 28px;
                color: #fff;
            }
        }
    }
}

.burger{
    width: 40px;
    height: 3px;
    background-color: #fff;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #fff;
        top: -12px;
        transition: .3s;
    }
    &:after{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #fff;
        bottom: -12px;
        left: 0;
        transition: .3s;
    }
    &.active{
        &:before {
            top: 0px;
            transition: .3s;
        }
        &:after{
            bottom: 0px;
            transition: .3s;
        }
    }
}
.burger-wrapper{
    cursor: pointer;
    height: 40px;
    align-items: center;
    display: none;

}
.logInBtn{
    position: relative;
    font-size: 16px;
    color: $intro-text; 
    transition: 0.5s;

}
.logInBtn::after{
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    height: 1px;
    transition: 0.5s;
    border-bottom: 1px solid $links-bcg;
}
.logInBtn:hover::after{
    content: '';
    position: absolute;
    display: block;
    width: 45px;
    height: 1px;
    border-bottom: 1px solid $links-bcg;
    transition: 0.5s;
}
.logInBtn:hover{
    color: $links-bcg;
    transition: 0.3s;
}
.SignUpBtn{
    font-family: 'DMSans-Bold';
    width: 128px;
    height: 50px;
    font-size: 16px;
    color: $intro-bcg;
    text-align: center;
    background-color: #fff;
    padding: 11px 35px;
    margin-left: 28px;
    transition: 0.5s;
}
.SignUpBtn:hover{
    color: $intro-bcg;
    background-color: $links-bcg;
    transition: 0.5s;
}
.GetStartedBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 60px;
    background-color: #FF5045;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.GetStartedBtn:hover{
    color: $title-color;
    background-color: $elsebcg;
    transition: 0.5s;

}
.LearnMoreBtn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DMSans-Bold';
    color: #fff;
    font-size: 16px;
}
.LearnMoreBtn:hover{
    color: $links-bcg;
    transition: 0.3s;
}
.LearnMoreBtn::after{
    content: '';
    position: absolute;
    display: block;
    width: 87px;
    height: 1px;
    padding-top: 27px;
    border-bottom: 1px solid #fff;
    transition: 0.3s;
}
.LearnMoreBtn:hover::after{
    border-bottom: 1px solid $links-bcg;
    transition: 0.3s;
    width: 0;
}
.reason{
    background-color: $elsebcg;
    padding-top: 200px;
    padding-bottom: 100px;
    &-wrapper{
        display: flex;
        column-gap: 130px;
        align-items: center;
    }
    &-body{
        max-width: 470px;
        &-desc{
            margin-top: 18px;
        }
        &-statistic{
            display: flex;
            column-gap: 55px;
            margin-top: 38px;
        }
    }
}
.statistic-wrapper span{
    color: #FF5045;
}
.statistic-title{
    font-family: 'Sora-SemiBold';
    color: $intro-bcg;
    font-size: 32px;
}
.features{
    &-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
    &-column{
        max-width: 270px;
        background-color: #fff;
        column-gap: 30px;
        padding: 24px;
    }
}
.item-row{
    padding: 24px;
}
.item-image{
    display: flex;
    flex: 0 0 44px;
}
.item-title{
    font-family: 'DMSans-Bold';
    font-size: 18px;
    margin-top: 20px;
}
.item-description{
    font-family: 'Inter-Regular';
    font-size: 14px;
    margin-top: 4px;
    line-height: 26px;
}
.proud{
    padding: 100px 0px;
    background-color: $elsebcg;
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-body{
        max-width: 470px;
        &-desc{
            margin-top: 18px;
        }
        &-btn{
            margin-top: 38px;
        }
        &-btn:hover{
            background-color: $links-bcg;
        }

    }

}
.explore{
    padding: 100px 0;
    background-color: $elsebcg;
    &-title{
        text-align: center;
    }
    &-subtitle{
        text-align: center;
        max-width: 570px;
        margin: 18px auto 0;
    }
    &-row{
        display: flex;
        justify-content: center;
        column-gap: 30px;
        margin-top: 70px;
        &-item{
            max-width: 270px;
            background-color: #fff;
            transition: 0.5s;
        }
        &-item:hover{
            box-shadow: 0px 20px 60px rgba(25, 8, 7, 0.07);
            transition: 0.5s;
        }
    }
}
.item-body{
    padding: 22px 18px 27px 18px;
}
.item-title{
    font-family: 'DMSans-Bold';
    font-size: 16px;
}
.item-subtitle{
    font-size: 14px;
    margin-top: 20px;
}
.item-link{
    position: relative;
    display: inline-block;
    margin-top: 8px;
    color: $intro-bcg;
    font-weight: 700;
    transition: 0.3s;
}
.item-link:hover{
    color: #FF5045;
    transition: 0.3s;
}
.item-link::after{
    position: absolute;
    content: '';
    width: 65px;
    height: 1px;
    border-bottom: 1px solid $intro-bcg;
    left: 0;
    padding-bottom: 25px;
    transition: 0.3s;
}
.item-link:hover::after{
    border-bottom: 1px solid #FF5045;
    transition: 0.3s;
}
.opinions{
    padding: 100px 0;
    background-color: $elsebcg;
    &-wrapper{
        display: flex;
        align-items: end;
        justify-content: space-between;
        &-body{
            &-subtitle{
                max-width: 570px;
                margin-top: 18px;
            }
        }
        &-arrows{
            display: flex;
            column-gap: 24px;
            &-leftArrow,
            &-rightArrow{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border: 1px solid #E7DFD9;
                transition: 0.3s;
            }
            &-leftArrow:hover{
                background-color: $links-bcg;
                cursor: pointer;
                transition: 0.3s;
            }
            &-rightArrow:hover{
                cursor: pointer;
                background-color: $links-bcg;
                transition: 0.3s;
            }
        }
    }
    &-quotes-row{
        display: flex;
        margin-top: 70px;
        column-gap: 30px;
        &-item{
            max-width: 370px;
            background-color: #fff;
            padding: 39px 40px 28px 43px;
            &-body{
                &-desc{
                    font-size: 14px;
                    position: relative;
                }
                &-author{
                    display: flex;
                    column-gap: 14px;
                    margin-top: 12px;
                }
            }
        }
    }
    &-dots{
        display: flex;
        justify-content: center;
        column-gap: 4px;
        margin-top: 38px;
    }
}
.author-name{
    font-family: 'DMSans-Bold';
    font-size: 14px;
    color: $intro-bcg;
    line-height: 24px;
}
.author-position{
    font-size: 12px;
    color: #A49C9B;
}
.quotes-bcg{
    position: absolute;
    top: -15px;
    left: -15px;
    opacity: 50%;
}
.invocation{
    padding: 100px 0 200px 0;
    background-color: $elsebcg;
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 230px;
        &-body{
            max-width: 470px;
            &-subtitle{
                margin-top: 18px;
            }
            &-btn{
                margin-top: 38px;
            }
            &-btn:hover{
                background-color: $links-bcg;
            }
        }
    }
}
.footer{
    background-color: $intro-bcg;
    padding-top: 96px;
    &-row{
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    &-bottom{
        background-color: #FF5045;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-rights{
                font-size: 14px;
                color: #FFFEFE;
                line-height: 26px;
                padding: 24px 0;
            }
        }
    }
}
.footer-column{
    &-description{
        color: $intro-text;
        max-width: 311px;
        font-size: 14px;
        margin-top: 12px;
    }
    &-links{
        display: flex;
        margin-top: 28px;
        column-gap: 18px;
    }
    &-links a{
        display: flex;
        width: 30px;
        height: 30px;
        background-color: #4D3A39;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    &-links a:hover{
        background-color: $links-bcg;
        transition: 0.3s;
    }
}
.footer-column-row-wrapper{
    display: flex;
    column-gap: 140px;
}
.column-item{
    &-title{
        font-size: 18px;
        color: #fff;
    }
    &-links{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-top: 18px;
    }
    &-links a{
        color: $intro-text;
        font-size: 14px;
        line-height: 26px;
    }
    &-links a:hover{
        color: $links-bcg;
        transition: 0.3s;
    }
    &-links a::after{
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 0px;
        border-bottom: 1px solid $links-bcg;
        transition: 0.3s;
    }
    &-links a:hover::after{
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 12px;
        border-bottom: 1px solid $links-bcg;
        transition: 0.3s;
    }
}
.videomodal{
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    display: none;
    &-overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    &-content{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 650px;
        height: 400px;
        &-closebtn{
            position: absolute;
            width: 30px;
            height: 30px;
            right: -35px;
            top: -20px;
            opacity: 0.3;
            transition: 0.3s;
        }
        &-closebtn:hover{
            opacity: 1;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}
.modal-burger{
    position: fixed;
    top: -200vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 101;
    transition: 0.5s;
    margin: 0 auto;
    padding: 0 30px;
    &-overlay{
        position: absolute;
        top: -200vh;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    &-content{
        position: relative;
        width: 650px;
        height: 400px;
        background-color: $intro-bcg;
    }
    &-content a{
        color: $intro-text;
        font-size: 16px;
    }
    &-content a:hover{
        color: $links-bcg;
        transition: 0.3s;
    }
    &-content a::after{
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 0px;
        border-bottom: 1px solid $links-bcg;
        transition: 0.3s;
    }
    &-content a:hover::after{
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 12px;
        border-bottom: 1px solid $links-bcg;
        transition: 0.3s;
    }
    &-closebtn{
        position: absolute;
        border: 2px solid #000;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        opacity: 1;
        transition: 0.5s;
        padding: 3px;
        background-color: #ccc;
    }
}
.modal-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 40px;
}
.active{
    top: 0;
    transition: 0.5s;
}
@media(max-width: 1400px){
    .intro{
        &-content{
            &-title{
                font-size: 65px;
            }
        }
    }
    .reason{
        &-wrapper{
            flex-wrap: wrap-reverse;
            row-gap: 50px;
        }
        &-body{
            margin: 0 auto;
        }
    }
    .features{
        &-row{
            column-gap: 10px;
        }
    }
    .proud{
        &-body{
            &-title{
                font-size: 46px;
                line-height: 56px;
            }
        }
    }
}
@media(max-width: 1199px){
    .intro{
        &-content{
            &-title{
                font-size: 46px;
                line-height: 56px;
            }
        }
    }
    .features{
        &-row{
            flex: 1 0 50%;  
            flex-wrap: wrap;
            column-gap: 100px;
            justify-content: center;
        }
    }
    .proud{
        &-wrapper{
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 50px;
        }
        &-body{
            &-btn{
                margin: 20px auto 0 auto;
            }
        }
    }
    .explore{
        &-row{
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 150px;
            row-gap: 50px;
        }
    }
    .invocation{
        padding-bottom: 170px;
        &-wrapper{
            flex-wrap: wrap-reverse;
            justify-content: center;
            row-gap: 80px;
            &-body{
                &-btn{
                    margin: 30px auto 0 auto;
                }
            }
        }
    }
}
@media(max-width: 991px){
    .features{
        &-row{
            column-gap: 70px;
        }
    }
    .explore{
        &-row{
            column-gap: 100px;
        }
    }
    .opinions{
        &-wrapper{
            align-items: flex-start;
            &-arrows{
                column-gap: 10px;
            }
        }
        &-quotes-row{
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 50px;
        }
    }
    .footer{
        &-column-row-wrapper{
            column-gap: 50px;
        }
    }
}
@media(max-width: 767px){
    .videomodal{
        &-content{
            &-closebtn{
                right: 10%;
            }
            &-body{
                #videoframe{
                    width: 500px;
                    height: 350px;
                }
            }
        }
    }
    .title{
        text-align: center;
    }
    .burger-wrapper{
        display: flex;
    }
    .intro{
        &-nav{
            &-links, 
            &-buttons{
                display: none;
            }
        }
        &-content{
            flex-wrap: wrap;
            row-gap: 30px;
        }
        &-img{
            &-play{
                width: 60px;
                height: 60px;
            }
        }
    }
    .opinions{
        &-wrapper{
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 30px;
            &-body{
                margin: 0 auto;
                text-align: center;
                &-title{
                    font-size: 56px;
                    line-height: 66px;
                }
            }
        }
    }
    .footer{
        &-row{
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 30px;
        }
    }
}
@media(max-width: 630px){
    .videomodal{
        &-content{
            &-closebtn{
                right: 25px;
            }
        }
    }
}
@media(max-width: 576px){
    .videomodal{
        &-content{
            &-closebtn{
                top: -7px;
                right: 10px;
            }
            &-body{
                #videoframe{
                    width: 490px;
                    height: 340px
                }
            }
        }
    }
    .proud{
        &-body{
            &-img{
                display: none;
            }
        }
    }
    .invocation{
        &-wrapper{
            &-img{
                display: none;
            }
        }
    }
    .footer{
        &-bottom{
            &-wrapper{
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 100px;
                &-rights{
                    padding: 10px 0 5px 0;
                }
            }
        }
    }
}
@media(max-width: 500px){
    .videomodal{
        &-content{
            &-closebtn{
                top: 60px;
                right: 15px;
            }
            &-body{
                #videoframe{
                    width: 345px;
                    height: 200px
                }
            }
        }
    }
    .intro{
        &-img{
            &-play{
                width: 45px;
                height: 45px;
            }
        }
    }
}
@media(max-width: 360px){
    .videomodal{
        &-content{
            &-closebtn{
                top: 90px;
            }
            &-body{
                #videoframe{
                    width: 300px;
                    height: 150px
                }
            }
        }
    }
    .intro{
        padding-bottom: 100px;
    }
    .reason{
        padding-top: 100px;
    }
    .proud{
        padding: 70px 0;
    }
    .explore{
        padding: 70px 0;
    }
    .opinions{
        padding: 70px 0;
    }
}